.video-js {
    width: 300px;
    height: 150px;
  }

  .vjs-fluid {
    padding-top: 56.25%
  }
</style><style class="vjs-styles-dimensions">
  .vjs_video_3-dimensions {
    width: 300px;
    height: 168.75px;
  }

  .vjs_video_3-dimensions.vjs-fluid {
    padding-top: 56.25%;
  }